<a href="https://colab.research.google.com/github/supriyameduri9/CMPE255_Assignments/blob/main/Apriori_FPGrowth.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Frequent Pattern Mining Algorithms

## Apriori Algorithm

Apriori Algorithm is a Machine Learning algorithm which is used to gain insight into the structured relationships between different items involved. The most prominent practical application of the algorithm is to recommend products based on the products already present in the user’s cart. Walmart especially has made great use of the algorithm in suggesting products to it’s users.

### Import Dependencies

In [1]:
pip install mlxtend --user

Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.19.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.5)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.0)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.19.5)
Requirement already satisfied: scikit-learn>=0.20.3 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.1)
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.3.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (3.0.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->mlxtend) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.3->mlxtend) (3.0.0)

In [2]:
%pip install mlxtend --upgrade

Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.19.0)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.19.5)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.5)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: scikit-learn>=0.20.3 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.1)
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.3.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (3.0.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->mlxtend) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.3->mlxtend) (3.0.0)

In [4]:

import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules, fpgrowth

### Load google drive

In [5]:
from google.colab import drive
drive._mount('/content/drive')

Mounted at /content/drive

### Dataset

I used UCI groceries [dataset](http://archive.ics.uci.edu/ml/datasets/Online+Retail) which contains all the transactions for a UK based online retail store

In [6]:
data = pd.read_excel('/content/drive/MyDrive/Online Retail.xlsx')
data.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [7]:
data.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [8]:
data.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

### Data Cleaning

In [9]:
data['Description'] = data['Description'].str.strip()
data.dropna(axis = 0, subset =['InvoiceNo'], inplace = True)
data['InvoiceNo'] = data['InvoiceNo'].astype('str')
 
# Dropping all transactions which were done on credit
data = data[~data['InvoiceNo'].str.contains('C')]

Here we divide the data for each country.

In [10]:
# Transactions done in France
basket_France = (data[data['Country'] =="France"]
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))
 
# Transactions done in the United Kingdom
basket_UK = (data[data['Country'] =="United Kingdom"]
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))
 
# Transactions done in Portugal
basket_Por = (data[data['Country'] =="Portugal"]
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))
 
basket_Sweden = (data[data['Country'] =="Sweden"]
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))

### Hot encoding the data

In [11]:
# Defining the hot encoding function to make the data suitable
# for the concerned libraries
def hot_encode(x):
    if(x<= 0):
        return 0
    if(x>= 1):
        return 1
 
# Encoding the datasets
basket_encoded = basket_France.applymap(hot_encode)
basket_France = basket_encoded
 
basket_encoded = basket_UK.applymap(hot_encode)
basket_UK = basket_encoded
 
basket_encoded = basket_Por.applymap(hot_encode)
basket_Por = basket_encoded
 
basket_encoded = basket_Sweden.applymap(hot_encode)
basket_Sweden = basket_encoded

### Build Model

For country of France, from the results we can observe that usually plates and cups are bought together

In [12]:
# Building the model
frq_items = apriori(basket_France, min_support = 0.05, use_colnames = True)
 
# Collecting the inferred rules in a dataframe
rules = association_rules(frq_items, metric ="lift", min_threshold = 1)
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])
rules.head()

                                           antecedents  ... conviction
45                        (JUMBO BAG WOODLAND ANIMALS)  ...        inf
260  (RED TOADSTOOL LED NIGHT LIGHT, PLASTERS IN TI...  ...        inf
272  (RED TOADSTOOL LED NIGHT LIGHT, PLASTERS IN TI...  ...        inf
302  (SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...  ...  34.897959
300  (SET/6 RED SPOTTY PAPER PLATES, SET/20 RED RET...  ...  34.489796

[5 rows x 9 columns]

For country of Portland, from the results we can observe that usually tiffin sets and candies are bought together

In [15]:
frq_items = apriori(basket_Por, min_support = 0.05, use_colnames = True)
rules = association_rules(frq_items, metric ="lift", min_threshold = 1)
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])
rules

                             antecedents  ... conviction
1170    (SET 12 COLOUR PENCILS SPACEBOY)  ...        inf
1171  (SET 12 COLOUR PENCILS DOLLY GIRL)  ...        inf
1172  (SET 12 COLOUR PENCILS DOLLY GIRL)  ...        inf
1173  (SET OF 4 KNICK KNACK TINS LONDON)  ...        inf
1174  (SET 12 COLOUR PENCILS DOLLY GIRL)  ...        inf
...                                  ...  ...        ...
1056                           (POSTAGE)  ...   1.015326
1058                           (POSTAGE)  ...   1.015326
1066                           (POSTAGE)  ...   1.015326
1070                           (POSTAGE)  ...   1.015326
1209                           (POSTAGE)  ...   1.015326

[335164 rows x 9 columns]

For country of Sweden, from the results we can observe that usually boys’ and girls’ cutlery are paired together.

In [ ]:

frq_items = apriori(basket_Sweden, min_support = 0.05, use_colnames = True)
rules = association_rules(frq_items, metric ="lift", min_threshold = 1)
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])
print(rules.head())

## FP Growth

In [16]:
from mlxtend.frequent_patterns import fpgrowth

France:

In [17]:
# Building the model
frq_items_france = fpgrowth(basket_France, min_support = 0.05, use_colnames = True)
 
frq_items_france

      support                                           itemsets
0    0.765306                                          (POSTAGE)
1    0.181122                    (RED TOADSTOOL LED NIGHT LIGHT)
2    0.158163               (ROUND SNACK BOXES SET OF4 WOODLAND)
3    0.125000                               (SPACEBOY LUNCH BOX)
4    0.104592                           (MINI PAINT SET VINTAGE)
..        ...                                                ...
190  0.061224  (POSTAGE, LUNCH BAG APPLE DESIGN, LUNCH BAG RE...
191  0.063776  (CHILDRENS CUTLERY DOLLY GIRL, CHILDRENS CUTLE...
192  0.053571             (POSTAGE, CHARLOTTE BAG APPLES DESIGN)
193  0.058673                        (POSTAGE, JUMBO BAG APPLES)
194  0.165816                      (POSTAGE, RABBIT NIGHT LIGHT)

[195 rows x 2 columns]

From the below observation, for the country of France, **Red Toadstool led night light and rabbit night light** are bought together based on the lift value

In [19]:
# Collecting the inferred rules in a dataframe
rules = association_rules(frq_items_france, metric ="lift", min_threshold = 1)
rules_france = rules.sort_values(['confidence', 'lift'], ascending =[False, False])
rules

                         antecedents  ... conviction
0                          (POSTAGE)  ...   1.032199
1    (RED TOADSTOOL LED NIGHT LIGHT)  ...   1.851474
2    (RED TOADSTOOL LED NIGHT LIGHT)  ...   1.151939
3               (RABBIT NIGHT LIGHT)  ...   1.143338
4                          (POSTAGE)  ...   1.043599
..                               ...  ...        ...
343    (CHARLOTTE BAG APPLES DESIGN)  ...   1.056122
344                        (POSTAGE)  ...   1.011199
345               (JUMBO BAG APPLES)  ...   2.034014
346                        (POSTAGE)  ...   1.035606
347             (RABBIT NIGHT LIGHT)  ...   1.929705

[348 rows x 9 columns]

Sweden

In [22]:
frq_items_swe = fpgrowth(basket_Sweden, min_support = 0.05, use_colnames = True)
 
frq_items_swe

       support                                           itemsets
0     0.194444                 (SET OF 3 CAKE TINS PANTRY DESIGN)
1     0.138889                (WORLD WAR 2 GLIDERS ASSTD DESIGNS)
2     0.111111                (ROUND SNACK BOXES SET OF 4 FRUITS)
3     0.111111                  (PACK OF 72 RETROSPOT CAKE CASES)
4     0.111111                   (PACK OF 60 SPACEBOY CAKE CASES)
...        ...                                                ...
2851  0.055556  (MINI LIGHTS WOODLAND MUSHROOMS, RABBIT NIGHT ...
2852  0.055556  (POSTAGE, MINI LIGHTS WOODLAND MUSHROOMS, RABB...
2853  0.055556  (POSTAGE, MINI LIGHTS WOODLAND MUSHROOMS, GUMB...
2854  0.055556  (MINI LIGHTS WOODLAND MUSHROOMS, GUMBALL COAT ...
2855  0.055556  (POSTAGE, MINI LIGHTS WOODLAND MUSHROOMS, GUMB...

[2856 rows x 2 columns]

From the below observation, for the country of Sweden, *PACK OF 60 SPACEBOY CAKE CASES, RETROSPOT TEA SET CERAMIC 11 PC *  are bought together based on the lift value

In [23]:
# Collecting the inferred rules in a dataframe
rules = association_rules(frq_items_swe, metric ="lift", min_threshold = 1)
rules_swe = rules.sort_values(['confidence', 'lift'], ascending =[False, False])
rules_swe

                                              antecedents  ... conviction
121     (MINI PAINT SET VINTAGE, PACK OF 72 RETROSPOT ...  ...        inf
122     (PACK OF 72 RETROSPOT CAKE CASES, RETROSPOT TE...  ...        inf
123     (PACK OF 60 SPACEBOY CAKE CASES, MINI PAINT SE...  ...        inf
124     (PACK OF 60 SPACEBOY CAKE CASES, RETROSPOT TEA...  ...        inf
149     (SET OF 3 CAKE TINS PANTRY DESIGN, PACK OF 60 ...  ...        inf
...                                                   ...  ...        ...
104604                                          (POSTAGE)  ...   1.038889
1342                                            (POSTAGE)  ...   1.008333
1347                                            (POSTAGE)  ...   1.008333
81604                                           (POSTAGE)  ...   1.008333
104362                                          (POSTAGE)  ...   1.008333

[104608 rows x 9 columns]

Portugal

In [20]:
frq_items_por = fpgrowth(basket_Por, min_support = 0.05, use_colnames = True)
 
frq_items_por

       support                                           itemsets
0     0.517241                                          (POSTAGE)
1     0.206897                              (LUNCH BAG CARS BLUE)
2     0.086207                               (LUNCH BAG WOODLAND)
3     0.068966                   (VINTAGE PAISLEY STATIONERY SET)
4     0.051724                           (LUNCH BAG SUKI  DESIGN)
...        ...                                                ...
7441  0.086207              (SET OF 10 LED DOLLY LIGHTS, POSTAGE)
7442  0.051724  (VINTAGE DOILY JUMBO BAG RED, JUMBO BAG PAISLE...
7443  0.051724  (VINTAGE DOILY JUMBO BAG RED, LUNCH BAG PAISLE...
7444  0.051724  (VINTAGE DOILY JUMBO BAG RED, JUMBO BAG PAISLE...
7445  0.051724                      (POSTAGE, RABBIT NIGHT LIGHT)

[7446 rows x 2 columns]

From the below observation, for the country of Portugal, **JUMBO BAG PAISLEY PARK, LUNCH BAG PAISLEY PARK** are bought together based on the lift value

In [21]:
# Collecting the inferred rules in a dataframe
rules = association_rules(frq_items_por, metric ="lift", min_threshold = 1)
rules_france = rules.sort_values(['confidence', 'lift'], ascending =[False, False])
rules

                                           antecedents  ... conviction
0                                (LUNCH BAG CARS BLUE)  ...   2.275862
1                            (LUNCH BAG RED RETROSPOT)  ...   1.850575
2                                (LUNCH BAG CARS BLUE)  ...   1.300493
3                    (RETROSPOT TEA SET CERAMIC 11 PC)  ...   1.233716
4       (LUNCH BAG CARS BLUE, LUNCH BAG RED RETROSPOT)  ...   1.517241
...                                                ...  ...        ...
335159                   (VINTAGE DOILY JUMBO BAG RED)  ...        inf
335160                        (JUMBO BAG PAISLEY PARK)  ...   3.793103
335161                        (LUNCH BAG PAISLEY PARK)  ...   2.370690
335162                                       (POSTAGE)  ...   1.053640
335163                            (RABBIT NIGHT LIGHT)  ...        inf

[335164 rows x 9 columns]

## References:

1.   https://www.geeksforgeeks.org/implementing-apriori-algorithm-in-python/
2. https://www.kaggle.com/sajidcse/market-basket-analysis#FP-GROWTH(Frequent-Pattern-Growth)